$transition-time: 0.2s;

.video-card-item {
    margin: 0.5rem;
    width: 384px;
    height: 216px;
    overflow: hidden;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    transition: border-radius $transition-time, background-size $transition-time;

    &.overlay {
        background-position: top, center;
    }

    &.zoom {
        border-radius: 2rem;
        background-size: 110%;
    }

    h1 {
        color: white;
        margin: 0;
        padding-top: 1rem;
    }

    a {
        color: white;
    }

    .video-info {
        transition: backdrop-filter $transition-time, opacity $transition-time;
        width: 100%;
        height: 100%;
        opacity: 0;

        &.blur {
            backdrop-filter: blur(5px);
            background-color: rgba(0, 0, 0, 0.35);
            opacity: 1;
        }

        .video-links {
            font-size: 24px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .youtube-link {
                margin: 0.5rem;
            }
        }
    }
}
