@use "/src/styles/constants" as constants;
@use "/src/styles/mixins" as mixins;

.tabs {
    @media (max-width: constants.$screen-medium) {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    @media (min-width: constants.$screen-medium) {
        display: grid;
        column-gap: 1rem;
    }

    text-align: center;
    padding-bottom: 1rem;

    * {
        border-radius: 10px;
        padding: 0.25rem;
        background-color: #0d0b17;
        text-decoration: none;
        font-size: 1.25rem;
        color: white;

        &.active {
            background-color: #231d42;
        }

        &:hover {
            &:not(.active) {
                background: linear-gradient(
                    90deg,
                    rgba(13, 11, 23, 1) 0%,
                    rgba(35, 29, 66, 1) 100%
                );
                transition: opacity 1s;
            }
        }
    }
}
