@use "/src/styles/constants" as constants;
@use "/src/styles/mixins" as mixins;

.tabs {
    @media (max-width: constants.$screen-medium) {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    @media (min-width: constants.$screen-medium) {
        display: grid;
        column-gap: 1rem;
    }

    padding-bottom: 1rem;
}
