$screen-small: 600px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-extra-large: 1200px;

$color-text: #a7fcfc;

$color-tab-active: #231d42;
$color-tab-not-active: #0d0b17;

$color-command-message: #18181b;

$color-style-one: #151127;
$color-style-two: #231d42;

$color-tab: rgb(10, 9, 18);
