@use "/src/styles/constants" as constants;

@mixin centreText {
    text-align: center;
    align-content: center;
}

@mixin containerPadding {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

@mixin screenWidthStyling {
    @media (min-width: constants.$screen-small) {
        max-width: constants.$screen-small;
        min-width: constants.$screen-small;
    }
    @media (min-width: constants.$screen-medium) {
        max-width: constants.$screen-medium;
        min-width: constants.$screen-medium;
    }
    @media (min-width: constants.$screen-large) {
        max-width: constants.$screen-large;
        min-width: constants.$screen-large;
    }
}

@mixin screenHeightScrolling {
    overflow-y: scroll;
    max-height: 580px;
}
