@use "/src/styles/constants" as constants;

@mixin centreText {
    text-align: center;
    align-content: center;
}

@mixin contentPadding {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

@mixin screenWidthStyling {
    @media (min-width: constants.$screen-small) {
        max-width: constants.$screen-small;
        min-width: constants.$screen-small;
    }
    @media (min-width: constants.$screen-medium) {
        max-width: constants.$screen-medium;
        min-width: constants.$screen-medium;
    }
    @media (min-width: constants.$screen-large) {
        max-width: constants.$screen-large;
        min-width: constants.$screen-large;
    }
    @media (min-width: constants.$screen-extra-large) {
        max-width: constants.$screen-extra-large;
        min-width: constants.$screen-extra-large;
    }
}

@mixin contentContainer {
    background-color: constants.$color-style-one;
    box-sizing: border-box;
    border-radius: 3rem;
}

@mixin contentFirstLayer {
    background-color: constants.$color-style-two;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

@mixin screenHeightScrolling {
    overflow-y: scroll;
    max-height: 580px;
}
