.title-container {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;

    .title {
        font-size: 72px;
        font-weight: bold;
    }

    .description {
        font-size: 36px;
    }
}
