@use "/src/styles/constants" as constants;
@use "/src/styles/mixins" as mixins;

.emotes-container {
    @include mixins.containerPadding;
    @include mixins.screenWidthStyling;

    background-color: rgba(4, 105, 0, 0.555);

    .emotes-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

