@use "/src/styles/constants" as constants;
@use "/src/styles/mixins" as mixins;

.emotes-container {
    .emote-content {
        @include mixins.contentFirstLayer;
    }
    .emotes-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
